# =========================
# Rust
# =========================
/target/
**/*.rs.bk
Cargo.lock

# =========================
# Environment files
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.venv/
venv/

# =========================
# Python cache & outputs
# =========================
python/cache/*.json

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
